@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
$primary: rgba(0, 49, 141, 1);
$secondary: rgba(249, 153, 93, 1);
$blue: rgba(53, 89, 199, 1);
$neutral: rgba(41, 46, 61, 1);
$smoke: rgba(224, 227, 235, 1);
$gray: rgba(246, 248, 247, 1);
$neo: rgba(82, 91, 122, 1);
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  h1,
  h2,
  h3 {
    margin: 0;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 16px 112px;
  align-items: center;
}

.brand {
  display: flex;
  background-color: $primary;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;
  padding-left: 0;
  padding-top: 0;
  gap: 10px;

  .brand-name {
    padding: {
      top: 4.5px;
      bottom: 4.5px;
      right: 4.5px;
    }
    display: flex;
    flex-direction: column;
    &__first {
      font-size: 18px;
    }

    &__second {
      font-size: 14px;
    }
  }
}

.nav-links {
  display: flex;
  gap: 50px;
  list-style: none;
  a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;

    &:hover {
      color: $secondary;
    }
  }
}

// **************************************** hero section

.hero {
  background-image: url(../Dowletli/image/tools.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 646px;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
  }

  .hero-content {
    min-height: 646px;
    position: relative;
    z-index: 2;

    .hero-title {
      display: flex;
      flex-direction: column;
      max-width: 700px;
      font: {
        weight: 600;
        size: 72px;
      }
      padding: {
        top: 240px;
        left: 112px;
      }
    }

    .recovery {
      background-color: $blue;
      position: absolute;
      max-width: 416px;
      width: 100%;
      bottom: 0;
      right: 0;
    }

    .recovery-btn {
      display: flex;
      button {
        border: none;
        cursor: pointer;
        width: 50%;
        font-size: 18px;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: {
          top: 10px;
          bottom: 10px;
        }
        background-color: $neutral;
        color: white;
        img {
          width: 26px;
        }
      }
    }

    .recovery-title {
      font-size: 24px;
      color: white;
      display: flex;
      justify-content: center;
      text-align: center;
      padding: {
        top: 20px;
        bottom: 10px;
      }
      span {
        width: 312px;
      }
    }
  }
}

// ******************************** reasons
.reasons {
  padding-bottom: 84px;
}

.reasons-title {
  padding: {
    top: 60px;
    bottom: 50px;
  }
  display: flex;
  justify-content: center;
  font-size: 36px;
}

.reasons-cards {
  display: flex;
  justify-content: center;
  gap: 65px;
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
    max-width: 254px;
  }

  .reasons-card {
    border: 1.4px solid $smoke;
    border-radius: 4px;
    padding: 20px {
      padding-bottom: 40px;
    }
  }
}

// ***************************** about us
.about {
  position: relative;
  padding: {
    top: 74px;
    left: 114px;
    bottom: 202px;
  }

  .about-perkins {
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 902px;
    height: 669px;
    background: radial-gradient(
      circle at center,
      rgba(221, 222, 224, 1),
      rgba(132, 138, 138, 1)
    );
    box-shadow: 0 8px 8px -4px rgba(17, 24, 39, 0.04),
      0 20px 24px -4px rgba(17, 24, 39, 0.1);
  }

  .about-partner {
    position: absolute;
    top: 16%;
    right: 8%;
    max-width: 488px;
    background-color: $primary;
    color: white;
    padding: 40px 50px 60px 60px;
    border-radius: 2px;
    box-shadow: 0 8px 8px -4px rgba(17, 24, 39, 0.04),
      0 20px 24px -4px rgba(17, 24, 39, 0.1);
    h3 {
      font-size: 36px;
    }

    .about-p {
      padding-top: 37px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 20px;
      padding-bottom: 74px;
      p {
        margin: 0;
      }
    }
    button {
      background-color: white;
      padding: 15px 12px;
      color: $primary;
      border-radius: 2px;
      border: none;
      cursor: pointer;
      font: {
        weight: 600;
        size: 18px;
      }
    }
  }
}

// ********************************************** service

.service {
  background-color: $gray;
  padding: {
    bottom: 76px;
  }

  .service-title {
    text-align: center;
    padding: {
      top: 44px;
      bottom: 36px;
    }
  }
  h2 {
    font-size: 36px;
  }

  .service-card {
    padding: {
      top: 38px;
      bottom: 38px;
    }
    width: 270px;
    border-radius: 4px;
    background-color: $primary;
    box-shadow: 0 0 37px -2px rgba(17, 24, 39, 0.05);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .card-line {
      height: 2px;
      width: 60px;
      background-color: $smoke;
    }
  }

  .service-card--white {
    background-color: white;
    color: $primary;
  }

  .service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 98px;
    max-width: 800px;
    margin: 0 auto;
  }
}

// *********************************************** stats
.stats {
  padding: 90px 0;

  .stat-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .stat-cards {
    position: relative;
    width: 520px;
    height: 450px;
  }

  .stat-card {
    background-color: white;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 0 4px 6px -2px rgba(17, 24, 39, 0.05),
      0 12px 16px -4px rgba(17, 24, 39, 0.1);
    position: absolute;

    .stat-number {
      font: {
        weight: 600;
        size: 72px;
      }
    }

    .stat-title {
      font-size: 18px;
      color: $neo;
      border-left: 7px solid $secondary;
      padding-left: 12px;
      margin-left: 10px;
    }

    img {
      position: absolute;
      max-width: 78px;
    }
  }

  .stat-client {
    top: 0;
    right: 0;
    width: 260px;
    z-index: 4;

    .client-icon {
      top: -25px;
      right: -30px;
    }
  }
  .stat-doc {
    top: 80px;
    left: 0px;
    width: 280px;
    z-index: 3;

    .doc-icon {
      left: -25px;
      top: -35px;
    }
  }

  .stat-win {
    top: 225px;
    right: 50px;
    width: 250px;
    z-index: 3;

    .win-icon {
      right: -30px;
      top: -30px;
    }
  }

  .stat-plan {
    top: 320px;
    left: 0;
    width: 260px;
    z-index: 1;

    .plan-icon {
      right: -30px;
      bottom: -30px;
    }
  }

  .experience {
    max-width: 450px;

    h2 {
      font: {
        weight: 700;
        size: 60px;
      }
      color: $primary;
      margin-bottom: 40px;
    }
    p {
      font-size: 20px;
      color: $neo;
      margin-bottom: 60px;
    }

    .experience-btn {
      border: none;
      border-radius: 2px;
      background-color: $primary;
      color: white;
      padding: 16px 39px;
      font: {
        weight: 600;
        size: 18px;
      }
    }
  }
}

// ****************************************** ads

.ads {
  padding: 90px 0;
  background-image: url(../Dowletli/image/back-img.png);
  background-repeat: no-repeat;
  background-size: cover;

  .ads-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ads-info {
      color: white;
      h3 {
        margin-bottom: 30px;
        font: {
          weight: 700;
          size: 36px;
        }
      }
      p {
        font-size: 24px;
        margin: 0;
      }
    }

    .ads-btn {
      button {
        background-color: transparent;
        color: white;
        border: 2px solid white;
        padding: 16px 20px;
        font: {
          weight: 600;
          size: 18px;
        }
      }
    }
  }
}

// ****************************************** projects
.projects {
  padding: 80px 0;
  .project-flex {
    display: flex;
    justify-content: space-between;
  }
  .project-title {
    font: {
      weight: 700px;
      size: 36px;
    }
    margin-bottom: 40px;
  }

  .project-tabs {
    .tabs {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .tab {
        a {
          text-decoration: none;
          color: rgba(194, 199, 214, 1);
          font: {
            weight: 500;
            size: 24px;
          }
          &:hover {
            color: $primary;
          }
        }

        &.active-tab {
          a {
            color: $primary;
            font-weight: 600;
            border-left: 4px solid $primary;
            padding-left: 16px;
          }
        }
      }
    }
  }
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
    gap: 32px;

    .project-card {
      border-radius: 2px;

      .project-image {
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      .project-info {
        color: white;
        background-color: $primary;
        padding: 12px {
          bottom: 16px;
        }
        h3 {
          margin-bottom: 12px;
          font: {
            weight: 700px;
            size: 20px;
          }
        }
        p {
          margin: 0;
          font-size: 18px;
        }
      }
    }
  }

  .pagination-container {
    display: flex;
    justify-content: flex-end;

    .pagination {
      width: 800px;
      margin-top: 32px;
      display: flex;
      justify-content: center;

      .pagination-dots {
        display: flex;
        gap: 16px;
        align-items: center;
        padding: {
          left: 33px;
          right: 33px;
        }

        .dot {
          border-radius: 50%;
          background-color: rgba(246, 248, 247, 1);
          width: 16px;
          height: 16px;
        }

        .active {
          background-color: $primary;
        }
      }
      .pagination-btn {
        font-size: 18px;
        border: none;
        background-color: $neutral;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px 20px;
        width: 295px;
      }
    }
  }
}
